@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[42px] leading-[58.8px];
  }
  h2 {
    @apply text-[42px] leading-[58.8px] font-bold;
  }
  h3 {
    @apply text-[32px] leading-[44.8px];
  }
  h4 {
    @apply text-[32px] leading-[44.8px] font-bold;
  }
  h5 {
    @apply text-[20px] leading-[28px];
  }
  h6 {
    @apply text-[20px] leading-[28px] font-bold;
  }
}

body {
  font-family: Lato, sans-serif, Inter;
  background-color: white;
}

.scope-container {
  @apply relative w-screen h-screen;
}

.scope-video-container {
  @apply w-[1912px] h-[1074px] relative mx-auto;
}

.scope-video {
  @apply absolute w-full h-full object-fill;
}

.scope-breadcrumb {
  @apply absolute z-[10] top-[100px] pl-4;
}

.bp-tab-content-container {
  @apply flex flex-col gap-2 mt-6;
}

.bp-tab-content-header {
  @apply w-full flex gap-2 items-center;
}

.bp-tab-content-header-title {
  @apply text-cyan-500 font-[900] text-lg h-fit;
}

.bp-tab-content-body {
  @apply mt-1;
}

.bp-tab-content-body-title {
  @apply text-cyan-500 text-lg font-[900];
}

.bp-tab-content-body-list {
  @apply rounded bg-white text-base text-neutral-950 min-h-[50px] mt-2 px-2 py-3 flex flex-col gap-1 max-h-[120px] overflow-y-scroll;
}

.bp-tab-content-action {
  @apply mt-2 flex gap-2 justify-end;
}

.popover-input {
  @apply w-full flex gap-2 items-center;
}

.popover-button-trigger {
  @apply rounded-full bg-buttonGray py-1 px-3 cursor-pointer text-[13px] text-neutral-50 shadow-md shadow-neutral-700;
}

.popover-button-trigger:hover {
  @apply bg-cyan-500;
}

.popover-body {
  @apply mt-2;
}

.popover-body-title {
  @apply text-cyan-500 text-lg font-[900];
}

.popover-body-list {
  @apply rounded bg-neutral-100 text-base text-neutral-950 min-h-[50px] px-2 py-1 flex flex-col gap-1 max-h-[120px] overflow-y-scroll;
}

.popover-body-empty {
  @apply w-full justify-center items-center py-2 text-base font-bold text-neutral-950 text-center;
}

.popover-footer {
  @apply w-full flex justify-end gap-2 mt-4;
}

.popover-footer > button {
  @apply min-w-[100px];
}

.popover-footer--cancel {
  @apply rounded-full bg-buttonGray py-1 px-3 cursor-pointer text-[13px] text-neutral-50 shadow-md shadow-neutral-700;
}

.popover-footer--save {
  @apply rounded-full bg-blue-900 py-1 px-3 cursor-pointer text-[13px] text-neutral-50 shadow-md shadow-neutral-700;
}

.popover-footer--cancel:hover {
  @apply bg-neutral-500;
}

.popover-footer--save:hover {
  @apply bg-blue-950;
}

.v-drawer-overlay {
  @apply backdrop-blur-[5px] fixed inset-0 z-30;
  background: rgba(0, 0, 0, 0.2);
}

.v-drawer-overlay[data-state="open"] {
  @apply animate-[overlayDrawerShow_150ms_cubic-bezier(0.16,_1,_0.3,_1)];
}

.v-drawer-content {
  @apply max-w-[350px] fixed top-[90px] right-0 bottom-0 w-full h-full shadow-[hsl(206_22%_7%_/_35%)_0px_10px_38px_-10px,_hsl(206_22%_7%_/_20%)_0px_10px_20px_-15px] focus:outline-none z-[9999] bg-neutral-950 bg-opacity-50;
}

.v-drawer-content[data-state="open"] {
  @apply animate-[contentDrawerShow_300ms_cubic-bezier(0.16,_1,_0.3,_1)];
}

.v-drawer-content[data-state="closed"] {
  @apply animate-[contentDrawerClosed_300ms_cubic-bezier(0.16,_1,_0.3,_1)];
}

.master-form-title {
  @apply text-base font-bold text-neutral-950;
}

.v-table-th-text {
  @apply text-base font-bold text-blue-900;
}

@keyframes overlayDrawerShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentDrawerShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes contentDrawerClosed {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* :root {
  --main-background: #fcfcfd;
  --main-surface: #f3f3f3;
  --main-border: #cdced7;
  --main-separator: #cdced7;
  --main-row-hover: #f1f3fb;

  --neutral-50: #f6f6f7;
  --neutral-100: #eef0f1;
  --neutral-200: #e0e3e5;
  --neutral-300: #cdd1d4;
  --neutral-400: #b7bcc2;
  --neutral-500: #92969f;
  --neutral-600: #82858e;
  --neutral-700: #7b7e87;
  --neutral-800: #65686e;
  --neutral-900: #54575b;
  --neutral-950: #313235;

  --primary-50: #ebeffb;
  --primary-100: #d7dff8;
  --primary-200: #aebef1;
  --primary-300: #9bbef5;
  --primary-400: #5d7de2;
  --primary-500: #355ddb;
  --primary-600: #2a4aaf;
  --primary-700: #203883;
  --primary-800: #152558;
  --primary-900: #0b132c;
  --primary-950: #050916;

  --blue-text: #0c66e4;
  --blue-background: #e7f0fc;
  --blue-border: #9ec2f4;

  --green-text: #25ab73;
  --green-background: #e9f7f1;
  --green-border: #a8ddc7;

  --yellow-text: #f5cd47;
  --yellow-background: #fefaed;
  --yellow-border: #fbebb5;

  --red-text: #d3291d;
  --red-background: #fbeae8;
  --red-border: #eda9a5;

  --grey-text: #6f6f6f;
  --grey-background: #e3e3e3;
  --grey-border: #d1d1d1;
} */
